<header class="w-full h-[110vh] flex flex-col bg-[#0F0F0F]">
    <main class="flex flex-col text-start w-full font-IBM justify-center items-center h-[90vh] text-white">
        <section class="text-center flex flex-col p-[10px] m-[10px] justify-center items-center md:w-[40%] md:text-start md:justfy-start md:items-start">
            <section>
                <p class="text-[#3572EF] font-IBM">Hi, My name is</p>
                <h1 class="text-[#FFFFFF] font-IBM text-[26px] md:text-[28px] my-[10px] md:my-[0px]">Lazare Mirziashvili</h1>
                <h2 class="text-[#cccccc] font-IBM text-[24px] md:text-[26px]">Frontend Developer</h2>
            </section>
            <section class="md:w-[200px] my-[20px]">
                <p>Hey I'm Lazare Frontend Developer from Tbilisi,Georgia</p>
            </section>
            <section>
                <a href="https://github.com/aponchikaj"><i class="fa-brands fa-github text-[30px]"></i></a>
                <a href="https://www.linkedin.com/in/lazare-mirziashvili-66092b323/"><i class="fa-brands fa-linkedin text-[30px] mx-[10px]"></i></a>
            </section>
            <section class="py-[20px] flex ">
                <a href="#2" class="rounded-sm border border-[#3572EF] p-[15px] transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-[#3572EF] duration-300 ">
                    <button>
                        Projects
                    </button>
                </a>
                <a href="../../assets/Image/LazareMirziashvili.pdf" download="cv" class="rounded-sm mx-[20px] border border-[#3572EF] p-[15px] transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-[#3572EF] duration-300 ">
                    <button>
                        CV
                    </button>
                </a>
            </section>
        </section>
    </main>
    <section class="p-[10px] flex justify-center items-center text-2xl font-IBM text-white bg-[#1B1B1B] p-[20px]">
        <section>
            <h1 class="text-[23px] md:text-[27px]">Projects Down There.</h1>
        </section>
    </section>
</header>
