<main class="h-[100vh] w-full bg-[#0F0F0F]">
    <section class="flex-col w-full items-center h-[100vh]  justify-center text-white font-IBM">

        <section class="flex-col flex p-[30px] text-[28px] ">
            <h1 class="font-medium">About</h1>
        </section>
        <section class="flex flex-col justify-center text-start items-center">
            <h3>I am Lazare 14 years old Frontend Developer from Tbilisi,Georgia.</h3>
            <h3>I started coding when I was 10-9 years old.</h3>
            <h3>Now I think I am ready for job.</h3>
            <h3>I am Looking for a job too</h3>
        </section>
        <section class="flex flex-col items-center w-full text-[28px] my-[100px]">
            <h1 class="font-medium">Contact</h1>
        </section>
        <section class="flex flex-col justify-center items-center">
            <h1>(+995) 555 992 212</h1>
            <h1>lazaremirziashvili8 gmail.com</h1>
        </section>
        <footer class="flex my-[100px] justify-center items-end">
            <h1>Created by Lazare Mirziashvili 2024</h1>
        </footer>
    </section>

</main>