<main class="h-auto w-full bg-[#0F0F0F]">
    <section class="flex-col w-full items-center h-auto  justify-center text-white font-IBM">

        <section class="flex-col flex p-[30px] text-[28px] ">
            <h1 class="font-medium">About</h1>
        </section>
        <section class="flex flex-col justify-center text-start items-center">
            <h3>Hello I am Lazare Frontend Developer From Tbilisi,Georgia. <br>
                I started Coding since I was 9 years old. <br>
                I have created many projects for small-medium sized businesses <br>

            </h3>
        </section>
        <section class="flex flex-col items-center justify-center h-[40vh] my-[10px]">
            <h1 class="font-medium text-[28px]">Contact</h1>
            <form class="w-full flex flex-col justify-center items-center">
                <section class="flex flex-col my-[10px]">
                    <label>Enter your Email</label>
                    <input type="text" name="email" required class="p-[10px] rounded-lg text-gray-950" [(ngModel)]="userMail">
                </section>
                <section class="flex flex-col">
                    <label>Enter message</label>
                    <input type="text" name="message" required class="p-[10px] rounded-lg text-gray-950" max="400" maxlength="400" [(ngModel)]="Message">
                </section>
                <section class="p-[10px]">
                    <button class="p-[10px] mt-[10px] bg-[#ffffff] text-gray-950 rounded-lg duration-300 ease-in-out hover:scale-110" (click)="sendMessage()">Submit</button>
                </section>
            </form>
        </section>
        <footer class="flex justify-center items-end">
            <h1>Created by Lazare Mirziashvili 2024</h1>
        </footer>
    </section>

</main>