<main class="h-auto w-full bg-[#0F0F0F]">
    <section class="flex-col w-full items-center h-auto  justify-center text-white font-IBM">

        <section class="flex-col flex p-[30px] text-[28px] ">
            <h1 class="font-medium">About</h1>
        </section>
        <section class="flex flex-col justify-center text-start items-center">
            <h3>Hello I am Lazare Frontend Developer From Tbilisi,Georgia. <br>
                I started Coding since I was 9 years old. <br>
                I have created many projects for small-medium sized businesses <br>

            </h3>
        </section>
        <footer class="flex justify-center items-end my-[100px]">
            <h1>Created by Lazare Mirziashvili 2024</h1>
        </footer>
    </section>

</main>