<nav class="w-full p-[10px] flex justify-around items-center">
    <!-- Section for Title -->
    <section>
        <h1 class="text-xl md:text-[30px]">Lazare M.</h1>
    </section>
    <!-- Navigation for md> screen sizes -->
    <section class="hidden invisible md:visible md:flex">
        <ul class="flex gap-2 text-[#000000] text-lg">
            <button class="ease-in-out duration-200 hover:scale-110 hover:text-[#6B6B6B]">Home</button>
            <button>Projects</button>
            <button>Services</button>
            <button>Contact</button>
        </ul>
    </section>
    <section>
        <ul>
            <!-- Linkedin -->
            <a href=""></a>
            <!-- Github -->
        </ul>
    </section>
</nav>