<main class="h-auto w-full bg-[#0F0F0F] p-[10px]">
    <section class="flex w-full flex-col text-white font-IBM">
        <section class="flex flex-col w-full justify-center text-center md:justify-start md:text-start">
            <h1 class="p-[10px] m-[10px] text-[25px] md:text-[28px]">Projects</h1>
        </section>
        <main class="flex flex-row w-full">
            <section class="p-[10px] flex flex-row flex-wrap justify-center md:justify-around">
                <section class="w-[300px] my-[10px] md:w-[400px] transition ease-in-out hover:-translate-x-1 hover:scale-110 hover:text-[#ccc] duration-300" *ngFor="let item of Projects">
                    <a href="{{item.iuareli}}">
                        <section>
                            <img src="{{item.img}}" alt="">
                        </section>
                        <section>
                            <h3>{{item.name}}</h3>
                        </section>
                    </a>
                </section>
            </section>
        </main>
        <section class="p-[10px] flex justify-center items-center md:justify-end md:items-end">
            <h2>See more projects at <a href="https://github.com/aponchikaj" class="text-purple-500">github</a></h2>
        </section>
    </section>
</main>

<hr class="mx-auto w-[90%]">