<main class="w-full h-auto md:h-[100vh]">
 <!-- for title section -->
 <section class="w-full p-[10px] flex items-center justify-center md:justify-start md:px-[40px]">
  <h1 class="text-[30px] md:text-[35px]">Services: </h1>
 </section>
 <!-- for Service Choosing Cards -->
 <section class="flex flex-col md:flex-row items-center justify-center md:items-start md:justify-around p-[10px] w-full h-full">

  <!-- card -->
  <section class=" md:w-[350px] p-[10px] h-[400px] md:h-[450px] flex flex-col items-center justify-around border rounded-[20px] ">
   <!-- Title of card -->
   <section>
    <h1>Title</h1>
   </section>
   <!-- Texts -->
   <section>
    <ul>
      <li>text1</li>
      <li>text2</li>
      <li>text3</li>
    </ul>
   </section>
   <!-- Button To Choose. -->
   <section>
    <button>Choose</button>
   </section>
  </section>

 </section>
</main>