@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'MonoIBM';
    src: url('./assets/fonts/IBMPlexMono-Regular.ttf');
}
@font-face {
    font-family: 'Pro';
    src: url('./assets/fonts/AnonymousPro-Regular.ttf');
}